<ion-content>
  <div class="amis-sugger">
    <app-amissugger></app-amissugger>
  </div>
  <div class="list-publication">
    <app-itempublication></app-itempublication>
    <app-itempublication></app-itempublication>
    <app-itempublication></app-itempublication>
    <app-itempublication></app-itempublication>
    <app-itempublication></app-itempublication>
    <app-itempublication></app-itempublication>
    <app-itempublication></app-itempublication>
    <div class="d-flex justify-center align-center">
      <p class="text-primary">
        chargement...
      </p>
    </div>
  </div>
  <ion-button (click)="verPage('add-activity')" class="action-plus-floate">
    <ion-icon name="add"></ion-icon>
  </ion-button>
</ion-content>
