<ion-card class="around-top">
  <div class="amis-sugger">
    <div class="d-flex align-center justify-between">
      <p class="text-primary text-bold">
        Janvier 2021 
        <ion-icon name="chevron-down" color="primary"></ion-icon>
      </p>
      <p class="text-primary text-bold">
        <ion-icon name="filter" color="primary"></ion-icon>
        Filtrer
      </p>
    </div>
    <div class="d-flex align-end justify-between">
      <ion-icon name="chevron-left" color="secondary"></ion-icon>
      <div class="d-flex align-center justify-between w-100">
        <p class="text-secondary text-center">
          Lu
          <br>
          1  
        </p>
        <p class="text-secondary text-center">
          2
          <br>
          3  
        </p>
        <p class="text-secondary text-center">
          Me
          <br>
          4  
        </p>
        <p class="text-secondary text-center">
          Je
          <br>
          5  
        </p>
        <p class="text-secondary text-center">
          Ve
          <br>
          6  
        </p>
        <p class="text-secondary text-center">
          Sa
          <br>
          7  
        </p>
        <p class="text-secondary text-center">
          Di
          <br>
          8  
        </p>
        <p class="text-secondary text-center">
          Lu
          <br>
          9  
        </p>
        <p class="text-secondary text-center">
          Ma
          <br>
          10  
        </p>
        <p class="text-secondary text-center">
          Me
          <br>
          11  
        </p>
        <p class="text-secondary text-center">
          Je
          <br>
          12  
        </p>
      </div>
      <ion-icon name="chevron-right" color="secondary"></ion-icon>
    </div>
  </div>
</ion-card>
