<ion-header>
  <ion-toolbar>
    <div class="d-flex align-center px-2 justify-between">
      <div class="d-flex align-center">
        <ion-icon (click)="back()" style="transform: rotate(-90deg);" class="back" name="chevron-up"></ion-icon>
        <ion-title>Mes <span class="text-secondary">notifications</span></ion-title>
      </div>
      <ion-icon color="primary" name="Share"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="block-card">
    <div class="block-card-header d-flex justify-between align-center">
      <div class="d-flex align-center">
        <p class="text-primary px-2 m-0">
          Aujourd'hui
        </p>
      </div>
    </div>
    <div class="list-invte">
      <ion-card class="around-bottom">
        <div class="d-flex align-center">
          <div class="position-relative">
            <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          </div>
          <div class="position-relative details-event w-100">
            <p class="text-black">
              <span class="text-primary">John Doe</span> a changé sa photo de profile
            </p>
            <p>
              A l'instant
            </p>
          </div>
        </div>
      </ion-card>
      <ion-card class="around-bottom">
        <div class="d-flex align-center">
          <div class="position-relative">
            <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          </div>
          <div class="position-relative details-event w-100">
            <p class="text-black">
              <span class="text-primary">John Doe</span> a changé sa photo de profile
            </p>
            <p>
              A l'instant
            </p>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
  <div class="block-card">
    <div class="block-card-header d-flex justify-between align-center">
      <div class="d-flex align-center">
        <p class="text-primary px-2 m-0">
          Hier
        </p>
      </div>
    </div>
    <div class="list-invte">
      <ion-card class="around-bottom">
        <div class="d-flex align-center">
          <div class="position-relative">
            <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          </div>
          <div class="position-relative details-event w-100">
            <p class="text-black">
              <span class="text-primary">John Doe</span> a changé sa photo de profile
            </p>
            <p>
              A l'instant
            </p>
          </div>
        </div>
      </ion-card>
      <ion-card class="around-bottom">
        <div class="d-flex align-center">
          <div class="position-relative">
            <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          </div>
          <div class="position-relative details-event w-100">
            <p class="text-black">
              <span class="text-primary">John Doe</span> a changé sa photo de profile
            </p>
            <p>
              A l'instant
            </p>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
  <div class="block-card">
    <div class="block-card-header d-flex justify-between align-center">
      <div class="d-flex align-center">
        <p class="text-primary px-2 m-0">
          Cette semaine
        </p>
      </div>
    </div>
    <div class="list-invte">
      <ion-card class="around-bottom">
        <div class="d-flex align-center">
          <div class="position-relative">
            <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          </div>
          <div class="position-relative details-event w-100">
            <p class="text-black">
              <span class="text-primary">John Doe</span> a changé sa photo de profile
            </p>
            <p>
              A l'instant
            </p>
          </div>
        </div>
      </ion-card>
      <ion-card class="around-bottom">
        <div class="d-flex align-center">
          <div class="position-relative">
            <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          </div>
          <div class="position-relative details-event w-100">
            <p class="text-black">
              <span class="text-primary">John Doe</span> a changé sa photo de profile
            </p>
            <p>
              A l'instant
            </p>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
  <div class="d-flex justify-center align-center">
    <p class="text-primary">
      chargement...
    </p>
  </div>
  <ion-button class="action-plus-floate">
    <ion-icon name="add"></ion-icon>
  </ion-button>
</ion-content>
