ion-content {
    --background: white;
}
.ml-0{
    margin-left: 0!important;
}
.button-wifthqsd ion-icon {
    font-size: 30px;
    padding: 0 5px;
    margin-top: -5px;
}
.form {
    max-width: 290px;
}