ion-content {
    --background: white;
}
.ml-0{
    margin-left: 0!important;
}
.button-wifthqsd ion-icon {
    font-size: 30px;
    padding: 0 5px;
    margin-top: -5px;
}
.form {
    max-width: 290px;
}
.input-global-login {
    width: 100%;
    margin: 5px 0px;
}
ion-select.input-global-login:nth-child(2) {
    margin: 5px;
}
.list-hobbies.flex-bouton-bottom {
    justify-content: flex-start;
}
.list-hobbies.flex-bouton-bottom ion-button {
    margin: 2px;
}
.video ion-img {
    border-radius: 15px;
    overflow: hidden;
    height: 170px;
    object-fit: cover;
}
.selected-option ion-button {
    height: 30px!important;
    --background: white!important;
    color: black!important;
    border: 1px lightgrey solid;
    box-shadow: 2px 3px 6px #d9d9d9d9!important;
    --box-shadow: none;
}
.list-hobbies ion-button {
    width: fit-content;
}
.selected-option ion-button.active {
    --background: var(--ion-color-info)!important;
    color: white!important;
}
.header-card {
    padding: 10px 15px;
    border-bottom: 1px lightgrey solid;
}
.flex-bouton-bottom.block-dots ion-button {
    --background: var(--ion-color-primary);
    color: var(--ion-color-white);
    width: 90px;
}
.dots-item {
    width: 8px;
    height: 8px;
    background: #d9d9d9;
    margin: 2px;
    border-radius: 50%;
}
.option3  ion-button:nth-child(2){
    margin: 0 5px;
}
.dots-item.active {
    background: var(--ion-color-primary);
}
.content-card {
    padding: 10px 15px;
}
h1.name-apk {
    font-size: 10px;
}
ion-img.logo-default1 {
    width: 120px;
    height: 120px;
    margin: -30px auto;
}