<ion-content>
  <div class="amis-sugger">
    <app-filtreevent></app-filtreevent>
  </div>
  <div class="list-publication">
    <app-itemevent></app-itemevent>
    <app-itemevent></app-itemevent>
    <app-itemevent></app-itemevent>
    <app-itemevent></app-itemevent>
    <app-itemevent></app-itemevent>
    <app-itemevent></app-itemevent>
    <app-itemevent></app-itemevent>
    <div class="d-flex justify-center align-center">
      <p class="text-primary">
        chargement...
      </p>
    </div>
  </div>
  <ion-button (click)="verPage('add-event')" class="action-plus-floate">
    <ion-icon name="add"></ion-icon>
  </ion-button>
</ion-content>
