<ion-content>
  <div class="h-100 d-flex justify-center align-center">
    <ion-grid class="text-center form">
      <ion-img class="logo-default1" src="../../assets/icon/favicon.png"></ion-img>
      <h1 class="name-apk text-primary">
        <span>Share</span>
        <span class="text-secondary">My</span>
        <span>Hobbies</span>
      </h1>
      <h3 class="text-black font18 text-bold mb-1">
        CONNEXION
      </h3>
      <P class="text-black text-center font8">
        Connectez-vous sur votre compte
      </P>
      <ion-input class="input-global-login font11 text-black" placeholder="Nom d'utilisateur ou email"></ion-input>
      <ion-input type="password" class="input-global-login font11 text-black" placeholder="Mot de passe"></ion-input>
      <ion-button (click)="login()" color="info" class="w-100 button-global-login font11 text-white">
        Connexion
      </ion-button>
      <p class="my-2 text-black">
        Mot de passe oublié?
      </p>
      <div class="d-flex align-center">
        <p class="w-fit-content text-black w-100 text-left">
          Se connecter avec
        </p>
        <div class="lign"></div>
      </div>
      <div class="my-1 d-flex justify-end button-wifthqsd">
        <ion-icon class="pl-1" src="../../../../assets/icon/default/facebook.svg"></ion-icon>
        <ion-icon class="pl-1" src="../../../../assets/icon/default/google.svg"></ion-icon>
      </div>
      <div class="lign ml-0 my-2"></div>
      <ion-button (click)="verPage('register')" color="info" class="w-100 button-global-login font11 bg-gris text-white">
        Créer un nouveau compte
      </ion-button>
    </ion-grid>
  </div>
</ion-content>
