<ion-card class="around-bottom">
  <div class="d-flex">
    <div class="position-relative">
      <ion-img class="img-event" src="../../../assets/img/pub1.jpg"></ion-img>
      <div class="date-event bg-secondary">
        16 JANV
        <br>
        à 22h00
      </div>
    </div>
    <div class="position-relative details-event w-100">
      <h6 class="text-primary m-0">
        Titre evenement
      </h6>
      <p>
        <ion-icon name="location"></ion-icon> 
        Siege de l'evenement
      </p>
      <p class="text-black">
        Foot ball
      </p>
      <p class="text-black">
        Foot en salle
      </p>
      <p>
        A l'instant
      </p>
      <div class="flex-bouton-bottom">
        <ion-button>
          Détails
        </ion-button>
        <ion-button>
          Participé
        </ion-button>
      </div>
    </div>
  </div>
</ion-card>
