<ion-card class="around-bottom">
  <div class="img-pub position-relative">
    <button class="menu-vertical-icon">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </button>
    <div class="list-hobbie">
      <button class="menu-vertical-icon">
        <ion-icon src="../../../assets/icon/default/hobbie2.svg"></ion-icon>
      </button>
      <button class="menu-vertical-icon">
        <ion-icon src="../../../assets/icon/default/hobbie1.svg"></ion-icon>
      </button>
      <button class="menu-vertical-icon">
        <ion-icon src="../../../assets/icon/default/hobbie3.svg"></ion-icon>
      </button>
    </div>
    <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
  </div>
  <div class="d-flex justify-between info-profile mb-1">
    <div class="d-flex align-end">
      <ion-img class="img-user" src="../../../assets/img/pub1.jpg"></ion-img>
      <div class="pl-1">
        <p>
          <span class="text-primary limite1-lign text-bold"> John Doe </span>
          <span class="text-secondary text-bold">
            <ion-icon name="medkit-sharp" color="secondary"></ion-icon>
            extrème
          </span>
        </p>
        <p class="limite1-lign">
          <ion-icon name="location"></ion-icon>
          Mammoth, Californie
          <ion-icon
            class="flag_pays"
            src="../../../assets/icon/landing/flag-fr.svg"
          ></ion-icon>
          Etats Unis
        </p>
      </div>
    </div>
    <div class="d-flex reaction justify-between">
      <div class="itemreaction d-flex">
        <button class="reaction-custmize-fenitra">
          <div class="reaction cursor-pointor">
            <ion-icon color="danger" name="heart-outline"></ion-icon>
          </div>
          <div class="count1 text-secondary">10</div>
          <div class="emoji-container">
            <div class="emoji like">
              <div class="icon" data-title="Like"></div>
            </div>
            <div class="emoji love">
              <div class="icon" data-title="Love"></div>
            </div>
            <div class="emoji haha">
              <div class="icon" data-title="Haha"></div>
            </div>
            <div class="emoji wow">
              <div class="icon" data-title="Wow"></div>
            </div>
            <div class="emoji sad">
              <div class="icon" data-title="Sad"></div>
            </div>
            <div class="emoji angry">
              <div class="icon" data-title="Angry"></div>
            </div>
          </div>
        </button>
        <button class="reaction-custmize-fenitra">
          <div class="reaction cursor-pointor">
            <ion-icon color="primary" name="chatbox-ellipses"></ion-icon>
          </div>
          <div class="count1 text-secondary">100</div>
        </button>
        <button class="reaction-custmize-fenitra">
          <div class="reaction cursor-pointor">
            <ion-icon color="primary" name="swap-horizontal"></ion-icon>
          </div>
          <div class="count1 text-secondary">1K</div>
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex align-center justify-between">
    <p>A l'instant</p>
    <p>Voir tous les commentaires</p>
  </div>
  <p class="text-black">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, harum
    assumenda excepturi doloremque perferendis ducimus consectetur ratione esse
    unde, animi aliquid inventore molestias accusamus fugiat qui suscipit.
    Repellat, rem nostrum.
  </p>
  <div class="d-flex justify-end my-1">
    <p>A l'instant</p>
  </div>
</ion-card>
<ion-card class="around-bottom-left">
  <div class="d-flex align-center justify-between">
    <p>20 commentaires</p>
    <p>Voir plus</p>
    <!-- <ion-modal [isOpen]="true">
      <template>
        <ion-content>
          <div class="list-commentaire">
            <div class="item-commentaire d-flex align-start">
              <div class="img-personne">
                <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
              </div>
              <div class="details-commentaire">
                <div>
                  <div class="d-flex justify-between align-center">
                    <p class="text-primary text-bold mt-0">John Doe</p>
                    <div class="d-flex justify-between align-center">
                      <p class="font11 text-rose">
                        5
                      </p>
                      <button class="reaction-custmize-fenitra">
                        <ion-icon color="danger" name="heart-outline"></ion-icon>
                        <div class="emoji-container">
                          <div class="emoji like">
                            <div class="icon" data-title="Like"></div>
                          </div>
                          <div class="emoji love">
                            <div class="icon" data-title="Love"></div>
                          </div>
                          <div class="emoji haha">
                            <div class="icon" data-title="Haha"></div>
                          </div>
                          <div class="emoji wow">
                            <div class="icon" data-title="Wow"></div>
                          </div>
                          <div class="emoji sad">
                            <div class="icon" data-title="Sad"></div>
                          </div>
                          <div class="emoji angry">
                            <div class="icon" data-title="Angry"></div>
                          </div>
                        </div>
                      </button>
                      <ion-icon name="ellipsis-vertical" color="primary"></ion-icon>
                    </div>
                  </div>
                  <div class="d-flex justify-between align-start mt-1">
                    <p class="mt-0">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime quasi soluta tempore modi omnis commodi sequi quod fugit distinctio, cumque eligendi magni reprehenderit earum dignissimos ad nihil, magnam consectetur. Dolore.
                    </p>
                    <ion-icon class="min25" name="ellipsis-vertical" color="primary"></ion-icon>
                  </div>
                </div>
                <div class="item-commentaire d-flex align-start">
                  <div class="img-personne">
                    <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
                  </div>
                  <div class="details-commentaire">
                    <div>
                      <div class="d-flex justify-between align-center">
                        <p class="text-primary text-bold mt-0">John Doe</p>
                        <div class="d-flex justify-between align-center">
                          <p class="font11 text-rose">
                            5
                          </p>
                          <button class="reaction-custmize-fenitra">
                            <ion-icon color="danger" name="heart-outline"></ion-icon>
                            <div class="emoji-container">
                              <div class="emoji like">
                                <div class="icon" data-title="Like"></div>
                              </div>
                              <div class="emoji love">
                                <div class="icon" data-title="Love"></div>
                              </div>
                              <div class="emoji haha">
                                <div class="icon" data-title="Haha"></div>
                              </div>
                              <div class="emoji wow">
                                <div class="icon" data-title="Wow"></div>
                              </div>
                              <div class="emoji sad">
                                <div class="icon" data-title="Sad"></div>
                              </div>
                              <div class="emoji angry">
                                <div class="icon" data-title="Angry"></div>
                              </div>
                            </div>
                          </button>
                          <ion-icon name="ellipsis-vertical" color="primary"></ion-icon>
                        </div>
                      </div>
                      <div class="d-flex justify-between align-start mt-1">
                        <p class="mt-0">
                          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime quasi soluta tempore modi omnis commodi sequi quod fugit distinctio, cumque eligendi magni reprehenderit earum dignissimos ad nihil, magnam consectetur. Dolore.
                        </p>
                        <ion-icon class="min25" name="ellipsis-vertical" color="primary"></ion-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
      </template>
    </ion-modal> -->
  </div>
  <div class="list-commentaire">
    <div class="item-commentaire d-flex align-start">
      <div class="img-personne">
        <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
      </div>
      <div class="details-commentaire">
        <div>
          <div class="d-flex justify-between align-center">
            <p class="text-primary text-bold mt-0">John Doe</p>
            <div class="d-flex justify-between align-center">
              <p class="font11 text-rose">
                5
              </p>
              <button class="reaction-custmize-fenitra">
                <ion-icon color="danger" name="heart-outline"></ion-icon>
                <div class="emoji-container">
                  <div class="emoji like">
                    <div class="icon" data-title="Like"></div>
                  </div>
                  <div class="emoji love">
                    <div class="icon" data-title="Love"></div>
                  </div>
                  <div class="emoji haha">
                    <div class="icon" data-title="Haha"></div>
                  </div>
                  <div class="emoji wow">
                    <div class="icon" data-title="Wow"></div>
                  </div>
                  <div class="emoji sad">
                    <div class="icon" data-title="Sad"></div>
                  </div>
                  <div class="emoji angry">
                    <div class="icon" data-title="Angry"></div>
                  </div>
                </div>
              </button>
              <ion-icon name="ellipsis-vertical" color="primary"></ion-icon>
            </div>
          </div>
          <div class="d-flex justify-between align-start mt-1">
            <p class="mt-0">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime quasi soluta tempore modi omnis commodi sequi quod fugit distinctio, cumque eligendi magni reprehenderit earum dignissimos ad nihil, magnam consectetur. Dolore.
            </p>
            <ion-icon class="min25" name="ellipsis-vertical" color="primary"></ion-icon>
          </div>
        </div>
        <div class="item-commentaire d-flex align-start">
          <div class="img-personne">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="details-commentaire">
            <div>
              <div class="d-flex justify-between align-center">
                <p class="text-primary text-bold mt-0">John Doe</p>
                <div class="d-flex justify-between align-center">
                  <p class="font11 text-rose">
                    5
                  </p>
                  <button class="reaction-custmize-fenitra">
                    <ion-icon color="danger" name="heart-outline"></ion-icon>
                    <div class="emoji-container">
                      <div class="emoji like">
                        <div class="icon" data-title="Like"></div>
                      </div>
                      <div class="emoji love">
                        <div class="icon" data-title="Love"></div>
                      </div>
                      <div class="emoji haha">
                        <div class="icon" data-title="Haha"></div>
                      </div>
                      <div class="emoji wow">
                        <div class="icon" data-title="Wow"></div>
                      </div>
                      <div class="emoji sad">
                        <div class="icon" data-title="Sad"></div>
                      </div>
                      <div class="emoji angry">
                        <div class="icon" data-title="Angry"></div>
                      </div>
                    </div>
                  </button>
                  <ion-icon name="ellipsis-vertical" color="primary"></ion-icon>
                </div>
              </div>
              <div class="d-flex justify-between align-start mt-1">
                <p class="mt-0">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime quasi soluta tempore modi omnis commodi sequi quod fugit distinctio, cumque eligendi magni reprehenderit earum dignissimos ad nihil, magnam consectetur. Dolore.
                </p>
                <ion-icon class="min25" name="ellipsis-vertical" color="primary"></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-card>
<div *ngIf="fixedinput" class="backdrop-custom" (click)="fixedinput=false"></div>
<ion-card [class]="fixedinput?'fixed':''" class="around-bottom send-commentaire">
  <div class="d-flex align-center justify-between">
    <div class="img-personne">
      <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
    </div>
    <ion-button class="btn-inser">
      <ion-icon name="add" class="text-white"></ion-icon>
    </ion-button>
    <ion-input (click)="fixedinput=true" class="font11" placeholder="Ecrire votre commentaire"></ion-input>
    <ion-icon name="emoji-smile" class="text-primary"></ion-icon>
    <ion-icon name="send" class="text-primary rotat15 pl-1"></ion-icon>
  </div>
</ion-card>
