<ion-card class="around-top">
  <div class="amis-sugger">
    <div class="d-flex align-center justify-between">
      <p class="text-primary text-bold">
        Amis suggerer
      </p>
      <p class="text-primary text-bold">
        <ion-icon name="filter" color="primary"></ion-icon>
        Filtrer
      </p>
    </div>
    <ion-slides>
      <ion-slide>
        <ion-grid (click)="verPage('profile')">
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="details-pers">
            <div class="d-flex align-center justify-center list-hobbie-perso">
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie1.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie2.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                +4
              </div>
            </div>
            <p class="text-primary">
              John Doe
            </p>
          </div>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid (click)="verPage('profile')">
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="details-pers">
            <div class="d-flex align-center justify-center list-hobbie-perso">
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie1.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie2.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                +4
              </div>
            </div>
            <p class="text-primary">
              John Doe
            </p>
          </div>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid (click)="verPage('profile')">
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="details-pers">
            <div class="d-flex align-center justify-center list-hobbie-perso">
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie1.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie2.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                +4
              </div>
            </div>
            <p class="text-primary">
              John Doe
            </p>
          </div>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid (click)="verPage('profile')">
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="details-pers">
            <div class="d-flex align-center justify-center list-hobbie-perso">
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie1.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie2.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                +4
              </div>
            </div>
            <p class="text-primary">
              John Doe
            </p>
          </div>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid (click)="verPage('profile')">
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="details-pers">
            <div class="d-flex align-center justify-center list-hobbie-perso">
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie1.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie2.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                +4
              </div>
            </div>
            <p class="text-primary">
              John Doe
            </p>
          </div>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid (click)="verPage('profile')">
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="details-pers">
            <div class="d-flex align-center justify-center list-hobbie-perso">
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie1.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie2.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                +4
              </div>
            </div>
            <p class="text-primary">
              John Doe
            </p>
          </div>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid (click)="verPage('profile')">
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="details-pers">
            <div class="d-flex align-center justify-center list-hobbie-perso">
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie1.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie2.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                +4
              </div>
            </div>
            <p class="text-primary">
              John Doe
            </p>
          </div>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid (click)="verPage('profile')">
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="details-pers">
            <div class="d-flex align-center justify-center list-hobbie-perso">
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie1.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                <ion-icon src="../../../assets/icon/default/hobbie2.svg"></ion-icon>
              </div>
              <div class="item-hobbie">
                +4
              </div>
            </div>
            <p class="text-primary">
              John Doe
            </p>
          </div>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </div>
</ion-card>
