.img-personne {
    width: 60px;
    height: 60px;
    ion-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.item-hobbie {
    width: 13px;
    height: 13px;
    box-shadow: 2px 3px 6px #e1e1e1b3;
    border-radius: 50%;
    margin: 2px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-color-white);
    color: var(--ion-color-secondary);
    z-index: 2;
}
.details-pers {
    margin-top: -10px;
    position: relative;
}
ion-slide {
    max-width: 70px;
}