<div class="block-card">
  <div class="block-card-header d-flex justify-between align-center">
    <div class="d-flex align-center">
      <h6 class="text-primary px-2 m-0">
        Découvrir <span class="text-secondary">d'autres groupes</span> 
      </h6>
      <div class="pl-1 floating img-personne counting m-auto d-flex justify-center align-center font11 text-secondary">
        + 5
      </div>
    </div>
    <h6 class="text-primary px-2 m-0">
      Voir tous
    </h6>
  </div>
  <div class="list-invte">
    <ion-card class="around-bottom">
      <div class="d-flex">
        <div class="position-relative">
          <ion-img class="img-event" src="../../../assets/img/pub1.jpg"></ion-img>
          <div class="img-personne absolute m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
        </div>
        <div class="position-relative details-event w-100">
          <h6 class="text-primary m-0">
            Nom du group
          </h6>
          <p>
            Inviter par <span class="text-primary">John Doe</span>
          </p>
          <p class="text-black description">
            Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptates sit mollitia dolor ab totam, at voluptatem facere veniam praesentium harum vel assumenda! Sunt voluptatibus, sapiente dignissimos ex cumque vero?
          </p>
          <div class="flex-bouton-bottom">
            <ion-button>
              Supprimer
            </ion-button>
            <ion-button>
              Ajouter
            </ion-button>
          </div>
        </div>
      </div>
    </ion-card>
    <ion-card class="around-bottom">
      <div class="d-flex">
        <div class="position-relative">
          <ion-img class="img-event" src="../../../assets/img/pub1.jpg"></ion-img>
          <div class="img-personne absolute m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
        </div>
        <div class="position-relative details-event w-100">
          <h6 class="text-primary m-0">
            Nom du group
          </h6>
          <p>
            Inviter par <span class="text-primary">John Doe</span>
          </p>
          <p class="text-black description">
            Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptates sit mollitia dolor ab totam, at voluptatem facere veniam praesentium harum vel assumenda! Sunt voluptatibus, sapiente dignissimos ex cumque vero?
          </p>
          <div class="flex-bouton-bottom">
            <ion-button>
              Réfuser
            </ion-button>
            <ion-button>
              Accepter
            </ion-button>
          </div>
        </div>
      </div>
    </ion-card>
  </div>
</div>