<div class="block-card">
  <div class="block-card-header d-flex justify-between align-center">
    <h6 class="text-primary px-2 m-0">
      Mes <span class="text-secondary">communautés</span>
    </h6>
    <h6 class="text-primary px-2 m-0">
      Voir tous
    </h6>
  </div>
  <ion-row class="mt-2">
    <ion-col size="4">
      <div class="direction-column item-mesgroup d-flex justify-between align-center">
        <div class="list-img-member-group">
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="img-personne counting m-auto d-flex justify-center align-center font11 text-secondary">
            + 5
          </div>
        </div>
        <p class="text-primary text-center">
          Nom communauté Lorem ipsum dolor sit
        </p>
        <div class="floating img-personne counting m-auto d-flex justify-center align-center font11 text-secondary">
          + 5
        </div>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="direction-column item-mesgroup d-flex justify-between align-center">
        <div class="list-img-member-group">
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="img-personne counting m-auto d-flex justify-center align-center font11 text-secondary">
            + 5
          </div>
        </div>
        <p class="text-primary text-center">
          Nom communauté Lorem ipsum dolor sit
        </p>
        <div class="floating img-personne counting m-auto d-flex justify-center align-center font11 text-secondary">
          + 5
        </div>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="direction-column item-mesgroup d-flex justify-between align-center">
        <div class="list-img-member-group">
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="img-personne m-auto">
            <ion-img src="../../../assets/img/pub1.jpg"></ion-img>
          </div>
          <div class="img-personne counting m-auto d-flex justify-center align-center font11 text-secondary">
            + 5
          </div>
        </div>
        <p class="text-primary text-center">
          Nom communauté Lorem ipsum dolor sit
        </p>
        <div class="floating img-personne counting m-auto d-flex justify-center align-center font11 text-secondary">
          + 5
        </div>
      </div>
    </ion-col>
  </ion-row>
</div>